<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SWC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SWC.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="AppPath" serializeAs="String">
                <value />
            </setting>
            <setting name="GroupsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomSelectorsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
        </SWC.Properties.Settings>
    </userSettings>
</configuration>